* {
  box-sizing: border-box;
}

header {
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: lighter;
  color: #b4b3d9;
}

.small-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 13px;
  color: #b4b3d9;
}
footer {
  text-align: center;
}
