* {
  box-sizing: border-box;
  background-color: #101010;
  padding: 0;
  margin: 0;
}

header {
  color: white;
  font-family: MADE Evolve Sans;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

h1 {
}
.header__logo-pic {
  border: 1px solid white;
  float: left;
}
